<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
    </head>
    <body>

        Hola {{nombre}},<br/>
        Ya puede votar en la votacion <strong>{{nombre_votacion}}</strong> <br/><br/>
        Pregunta: <strong>{{question}}</strong> <br/><br/>
        Fecha de inicio: {{fecha_inicio}}<br/><br/>
        Descripcion: {{descripcion}} <br/><br/>

        Accede aqui: http://localhost:8000/booth/{{votacion_id}}

    </body>
</html>