.navbar2  {
    background-color: bisque;
    padding: 3px;;
}

.navbar2 ul {
    display: flex;
    justify-content: space-around;
}

.navbar2 ul li {
    list-style: None;
}


.a2{
    color: black;
    text-decoration: none;
}

.container2 {
    background-color: white;
    
    
}

.body2 {
    background-image: url('/static/maxresdefault.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    
}

/* .body3 {
    background-image: url('/static/filterCensusImage.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    
} */

.bodyFilt {
    background-image: url('/static/filterCensusImagen.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    
}