{% load static %}


<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,
     initial-scale=1.0">
    <link rel="stylesheet" href="{% static '/style/main.css' %}">
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">

    <title>Decide-Censos</title>
    


</head>


<body class="body2">
    {% block content %}
    <div class="row justify-content-center">

        <div class="col"></div>

        <div style="margin-left: 20px;margin-top: 100px; text-align: center; background-color: white; max-width: 600px; border-radius: 20px; " class="col justify-content-center">
            <h1 style="margin-top: 15px;">Create a new census:</h1>

            <div style="margin: 40px;">
                
                {{error}}
                <div style="margin-bottom:  34px;">
                    <form action="" method="POST">
                        {% csrf_token %}
                        {{form.as_p}}
                
                        <button type="submit">Create</button>
                    
                    </form>
                    
                    
                    

                </div>
                
                
            </div>

            {% endblock %}  
        </div>
        <div class="col"></div>
    </div>
    

</body>