{% load static %}

<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,
     initial-scale=1.0">
    <link rel="stylesheet" href="{% static '/style/main.css' %}">
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">

    <title>Decide-Censos</title>
    


</head>

<body class="body2" style="margin-top: 50px;">
    
    <nav class="" style="text-align:center">
        <h1 >WELCOME TO CENSUS</h1>
        
    </nav>
    
    <main class="container2  body2">
        {% block content %}  
        
        <div>
          <p style="text-align: center;">This is the main page of the census. Here are collected all the functionalities that can be carried
            out with the censuses.
          </p>
        </div>

         
          
         
            
          <div class="row row-cols-1 row-cols-md-2 g-4 " style="margin-left: 25px;margin-right: 25px; margin-top: 40px;">
            
            
            <div class="col">
              <a href="/census/create" class="a2">
                <div class="card">
                  <img  class="card-img-top" >
                  <div class="card-body">
                    <h5 class="card-title">Create new census</h5>
                    <p class="card-text"> Click here to create a new census.</p>
                  </div>
                </div>
              </a>
            </div>
            
            <div class="col">
              <div class="card">
                <img  class="card-img-top" >
                <div class="card-body">
                  <h5 class="card-title">
                    
                    Census details </h5>
                    <p style="color: red;">{{error_id}}</p>
                  <p class="card-text">Introduce a census id to get all details</p>
                  <form action="/census/detalles/ " method="get">
                  
                    <input type="text"  required = 'required' name="id" placeholder="Id ">
                    <button type="submit"> Buscar </button>
                  </form>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card">
                <img  class="card-img-top" >
                <div class="card-body">
                  <h5 class="card-title">
                    
                    Delete a census </h5>
                    <p style="color: red;">{{error}}</p>
                  <p class="card-text">Introduce a census id to get all details</p>
                  <form action=" /census/delete/" method="get">
                  
                    <input type="text" name="Votingid" required = 'required'  placeholder="VotingId ">
                    <input type="text"  required = 'required' name="Voterid" placeholder="VoterId ">
                    <button type="submit"> Borrar </button>
                  </form>
                </div>
              </div>
            </div>
            <div class="col">
              <a href="/census/importer" class="a2">
                <div class="card">
                  <img  class="card-img-top" >
                  <div class="card-body">
                    <h5 class="card-title">
                      
                      Import from Excel
                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-file-earmark-spreadsheet" viewBox="0 0 16 16">
                        <path d="M14 14V4.5L9.5 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2zM9.5 3A1.5 1.5 0 0 0 11 4.5h2V9H3V2a1 1 0 0 1 1-1h5.5v2zM3 12v-2h2v2H3zm0 1h2v2H4a1 1 0 0 1-1-1v-1zm3 2v-2h3v2H6zm4 0v-2h3v1a1 1 0 0 1-1 1h-2zm3-3h-3v-2h3v2zm-7 0v-2h3v2H6z"/>
                      </svg>
                    </h5>
                    <p class="card-text"> Use this funcinality to get new census from Excel.</p>
                  </div>
                </div>
              </a>
            </div>
            <div class="col">
              <a href="/census/lista_censo" class="a2">
                <div class="card">
                  <img  class="card-img-top" >
                  <div class="card-body">
                    <h5 class="card-title">
                      
                      Export census
                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-file-earmark-arrow-down" viewBox="0 0 16 16">
                        <path d="M8.5 6.5a.5.5 0 0 0-1 0v3.793L6.354 9.146a.5.5 0 1 0-.708.708l2 2a.5.5 0 0 0 .708 0l2-2a.5.5 0 0 0-.708-.708L8.5 10.293V6.5z"/>
                        <path d="M14 14V4.5L9.5 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2zM9.5 3A1.5 1.5 0 0 0 11 4.5h2V14a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h5.5v2z"/>
                      </svg></h5>
                    <p class="card-text"></p>
                  </div>
                </div>
              </a>
            </div>
            <div class="col">
              <a href="/census/filter" class="a2">
                <div class="card">
                  <img  class="card-img-top" >
                  <div class="card-body">
                    <h5 class="card-title">
                      
                      Filter and Group census
                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-filter-left" viewBox="0 0 16 16">
                        <path d="M2 10.5a.5.5 0 0 1 .5-.5h3a.5.5 0 0 1 0 1h-3a.5.5 0 0 1-.5-.5zm0-3a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5zm0-3a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5z"/>
                      </svg></h5>
                    <p class="card-text">This functionality allows you to filter and group the censuses the way you want.</p>
                  </div>
                </div>
              </a>
            </div>
          </div>
        {% endblock %}
    </main>

</body>

</html>