{% load static %}

<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,
     initial-scale=1.0">
    <link rel="stylesheet" href="{% static '/style/main.css' %}">
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">

    <title>Decide-Censos</title>
    


</head>
<body class="body2">
    {% block content %}
    <h1 style="text-align:center ;"> The census was created correctly</h1>
    <p style="text-align:center ;"><a href="/census/"style="text-align:center ;"> Volver al menu principal</a></p>
    <div style="text-align:center ; margin-top: 50px;">
        <h2>Votante id:{{census.voter_id}}</h2>
                    <div style="margin-bottom:  34px;">
                        
                        <h5>Name: {{census.name}}</h5>
                        <h5>Surname: {{census.surname}}</h5>
                        <h5>City: {{census.city}}</h5>
                        <h5>Gender: {{census.gender}}</h5>
                        <h5>Comunity: {{census.a_community}}</h5>
                        <h5>Born year: {{census.born_year}}</h5>
                        <h5>Civil state: {{census.civil_state}}</h5>
                        <h5>Sexuality: {{census.sexuality}}</h5>
                        <h5>Works: {{census.works}}</h5>

                    </div>
    </div>

    {% endblock %}

</body>